.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button.primary, .button.secondary {
  color: #ffffff;
  background: #2196f3;
  font-family: inherit;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.commands-link, .commands-case.botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .main-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

.menu-button:hover .icon-close,
.menu-button:focus .icon-close {
  fill: #2196f3;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: #212121;
}

.icon-close {
  fill: #212121;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;
    z-index: 1;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  outline: none;
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196f3;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo {
    display: block;
    padding: 16px 0px;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 81px;
    padding: 16px 0px;
    font-size: 24px;
    line-height: 1.16;
  }
}

.wite {
  color: #ffffff;
}

.back {
  color: #212121;
  font-family: Raleway;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: inline-block;
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

.item {
  overflow: hidden;
}

.site-nav .link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    display: block;
    font-size: 18px;
    line-height: 1.17;
    padding-bottom: 8px;
    padding-top: 40px;
  }
}

.site-nav .link.link:hover, .site-nav .link.link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  margin-top: 28px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  -webkit-animation: lower-border 2000ms ease-in-out infinite alternate;
          animation: lower-border 2000ms ease-in-out infinite alternate;
}

@-webkit-keyframes lower-border {
  0% {
    left: -105%;
  }
  100% {
    left: 105%;
  }
}

@keyframes lower-border {
  0% {
    left: -105%;
  }
  100% {
    left: 105%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connection-nav {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .connection-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .connection-nav li {
    margin-right: 50px;
  }
  .connection-nav li:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .contact-case {
    margin-bottom: 16px;
  }
}

.connection-nav .link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .connection-nav .link {
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.connection-nav .link:hover, .connection-nav .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .connection-nav .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.icon-contact {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .icon-contact,
.link:focus .icon-contact {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-contact {
    margin-right: 8px;
  }
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  cursor: pointer;
}

.button.secondary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 29px;
}

@media screen and (max-width: 767px) {
  .button.secondary {
    margin-bottom: 60px;
  }
}

.section-project {
  text-align: center;
}

.container.case {
  padding-top: 93px;
}

@media screen and (max-width: 1199px) {
  .container.case {
    padding-top: 60px;
  }
}

.button-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .button-case {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-box:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  margin-bottom: 50px;
  margin-right: 8px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    margin-bottom: 30px;
  }
}

.portfolio:hover, .portfolio:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-list {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .project {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .project-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .project-list:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 94px;
  }
  .project-list {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .project-list:nth-child(3n) {
    margin-right: 0px;
  }
  .project-list:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.item-foto {
  width: 100%;
}

.project .project-img {
  position: relative;
  text-decoration: none;
  background: #ffffff;
  width: calc((100% - 60px) / 3);
}

@media screen and (min-width: 768px) {
  .project .project-img {
    width: calc((100% - 4 * 15px) / 2);
  }
  .project .project-img:nth-child(2n) {
    margin-right: 0px;
  }
  .project .project-img:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.project .project-img:nth-child(3n) {
  margin-right: 0px;
}

.project .project-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project .project-img:hover .card-container,
.project .project-img :focus .card-container {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project .title {
  text-align: initial;
  margin: 0px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  text-align: initial;
  margin: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-box {
  position: relative;
  overflow: hidden;
}

.card-box::before {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 63px 24px;
  text-align: left;
  opacity: 0;
}

.project-img:hover .card-box::before,
.project-img:focus .card-box::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project-img:hover .overlay-box,
.project-img:focus .overlay-box {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.project .text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .endbox {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .endbox {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .endbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .end {
    display: -ms-inline-grid;
    display: inline-grid;
    text-align: center;
    padding-top: 60px;
    padding-left: 76px;
  }
}

@media screen and (max-width: 767px) {
  .logotipe {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .logotipe {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .logotipe {
    padding-top: 45px;
    margin-bottom: 8px;
  }
}

.logo.footer {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .logo.footer {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 8px;
  }
}

.contacts-address .link {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .contacts-address .link {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-address {
    margin-bottom: 60px;
  }
}

.developed {
  padding-bottom: 21px;
  padding-top: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .developed {
    display: none;
  }
}

.finish {
  margin-bottom: 21px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}

@media screen and (max-width: 767px) {
  .finish {
    margin-bottom: 20px;
  }
}

.finish input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
}

.footer-form {
  vertical-align: middle;
  padding: 18px 12px;
  margin-right: 8px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  background-color: unset;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    width: 100%;
    margin-bottom: 20px;
  }
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.finish-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finish-social li + li {
  margin-left: 10px;
}

.commands-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commands-icon {
  fill: #afb1b8;
}

.commands-case .commands-link:hover,
.commands-case .commands-link:focus {
  background-color: #2196f3;
}

.commands-case .commands-link:hover > .commands-icon,
.commands-case .commands-link:focus > .commands-icon {
  fill: #ffffff;
}

.commands-case.botton {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) {
  .finishbox {
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    margin-left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .finishbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 94px;
  }
}

@media screen and (min-width: 768px) {
  .invitation {
    display: -ms-inline-grid;
    display: inline-grid;
    text-align: center;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .invitation {
    padding-top: 56px;
    margin-left: 69px;
  }
}
/*# sourceMappingURL=portfolio.css.map */