.button-case {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}

.button-box:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
}

.portfolio {
  margin-bottom: 50px;
  margin-right: 8px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: $fill-silver;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  outline: none;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  transition: background $transition-duration $cubic,
    color $transition-duration $cubic;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}
