.client {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.clients {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-compani {
  position: relative;
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
  }
  & li {
    @media screen and (min-width: $desktop) {
      width: calc((100% - 150px) / 6);
      margin-right: 30px;
      &:nth-child(6n) {
        margin-right: 0px;
      }
    }
  }
}

.clients-icon {
  fill: #afb1b8;
  height: 90px;
  transition: fill $transition-duration $cubic;

  .clients-link:hover & {
    fill: $accent-color;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: fill $transition-duration $cubic;

  &::before {
    position: absolute;
    transition: border $transition-duration $cubic;

    display: block;
    content: '';
    height: 90px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      width: calc(100% - 30px);
    }
    @media screen and (min-width: $tablet) {
      width: 226px;
    }
    @media screen and (min-width: $desktop) {
      width: 170px;
    }
  }

  // @media screen and (max-width: 767px) {
  //   width: 50%;
  // }
  @media screen and (min-width: $tablet) {
    width: 226px;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}

.clients-compani:hover ::before {
  border: 1px solid $accent-color;
}
