.client {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.clients {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients-compani {
  transition: border $transition-duration $cubic;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 3 * 30px) / 3);
  }
  & li {
    @media screen and (min-width: $desktop) {
      width: calc((100% - 150px) / 6);
      margin-right: 30px;
      &:nth-child(6n) {
        margin-right: 0px;
      }
    }
  }
}

.clients-icon {
  fill: #afb1b8;
  height: 90px;
  transition: fill $transition-duration $cubic;
}
.clients-compani .clients-link:hover > .clients-icon,
.clients-compani .clients-link:focus > .clients-icon {
  fill: $accent-color;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: fill $transition-duration $cubic;
}

.clients-compani:hover,
.clients-compani:focus {
  border: 1px solid $accent-color;
}
