.connection-nav {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;

    & li {
      margin-right: 50px;

      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
  }
}

.connection-nav .link {
  color: $primary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  outline: none;
  transition: color $transition-duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.icon-contact {
  fill: $primary-text-color;
  margin-right: 10px;

  transition: fill $transition-duration $cubic;

  .link:hover &,
  .link:focus & {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
