.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.main-nav {
  display: flex;
}

.page-header {
  display: flex;
  justify-content: space-between;
}
